include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include projectfu *.css
recursive-include projectfu *.csv
recursive-include projectfu *.html
recursive-include projectfu *.ico
recursive-include projectfu *.js
recursive-include projectfu *.json
recursive-include projectfu *.md
recursive-include projectfu *.png
recursive-include projectfu *.py
recursive-include projectfu *.svg
recursive-include projectfu *.txt
recursive-exclude projectfu *.pyc